.menuControl {
  position: absolute;
  top: 8px;
  right: 8px;
  background: gray;
  color: white;
  cursor: pointer;
  padding: 4px 4px 0 4px;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
}
