@import '../../../../theme/constants';


.navbar {
  background: $color1;
  color: $white;

  h1 {
    font-size: 20px;

    @media#{$isPhone}{
      margin-top: 5px;
    }
  }

  h2 {
    font-size: 16px;
    margin-top: 25px;

    @media#{$isPhone}{
      margin: -22px 0 0 38px;
    }
  }

  .navbarBrand {
    padding: 5px;
    margin-left: -15px;
  }
}
