@import '../../../../theme/constants';


.navbar {
  background: $color1;
  color: $white;
  padding: 5px 0 5px 10px;
  margin-bottom: 0px;
  border-radius: inherit;

  h1 {
    font-size: 16px;
    opacity: .6;

    @media#{$isPhone}{
      margin-top: 5px;
    }
  }

  h2 {
    font-size: 20px;
    margin-top: 14px;
    margin-right: 0px;

    @media#{$isPhone} {
      margin: -26px 0 0 36px;
    }

    @media#{$isTablet} {
      margin-top: 15px;
    }
  }

  .navbarBrand {
    padding: 5px;
    margin-left: -15px;
  }
}
