@import '../../../../theme/constants';

.mainWrapper {
  background: $color1;

  ul {
    border-bottom: none!important;
  }

  a {
    border: none!important;
    border-radius: inherit!important;
    font-size: $size1;
    color: $gray;

    &:hover {
      color: $blue;
      cursor: pointer;
    }
  }
}
