@import '../../../../theme/constants';

.mainWrapper {
  padding-top: 10px;
  background: $color1;

  ul {
    border-bottom: none!important;
    text-align: center;
    li {
      margin-bottom: 0;
      display: inline-block;
      float: none;
    }
  }

  a {
    border: none!important;
    border-radius: inherit;
    font-size: $size1;
    color: $gray;
    background: lighten($color1, 10%);

    &:hover {
<<<<<<< HEAD
      color: $cyan;
=======
      color: $blue;
>>>>>>> client information
      cursor: pointer;
    }
  }

  .notification {
    background: $red;
    border-radius: 5px;
    position: absolute;
    display: block;
    top: -7px;
    right: -7px;
    padding: 2px 5px 4px 7px;
    font-size: 10px;
    color: white;
    &:hover {
      background: $brightRed;
      color: white,
    }
  }
}
