@import '../../../../theme/constants';

.mainWrapper {
  margin-top: 85px;
  background: $color1;

  @media#{$isPhone} {
    margin-top: 72px;
  }

  @media#{$isTablet} {
    margin-top: 72px;
  }

  ul {
    border-bottom: none!important;
  }

  a {
    border: none!important;
    border-radius: inherit!important;
    font-size: $size1;
    color: $gray;

    &:hover {
      cursor: pointer;
    }
  }
}
