@import '../../../../theme/constants.scss';

.title {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  color: $color1;
}

.lastUpdate {
  font-size: 12px;

  span:first-of-type {
    color: $color2;
  }
}
