@import '../../../theme/constants.scss';
@import '../../../theme/buttons/buttons.scss';

.title {
  background: url('/images/publicidad-bkg.jpg') no-repeat center center;
  background-size: cover;
  color: $yellow;
  text-align: center;
  text-shadow: 2px 2px 5px $darkGray;
  font-weight: bold;
  padding: 50px 0;
  margin: 15px 0 30px;
  font-size: 30px;
  line-height: 32px;
  @media #{$isPhone}{
    padding: 40px 0;
    margin: 0 -15px 30px;
    font-size: 24px;
  }
}

.subtitle {
  color: $cyan;
  text-align: left;
  margin: 0 0 30px;
  font-size: 22px;
  @media #{$isPhone}{
    text-align: center;
    margin: 0 20px 20px;
    font-size: 18px;
  }
}

.list, .table {
  margin-bottom: 50px;
  font-size: 18px;
  @media #{$isPhone}{
    font-size: 12px;
  }
}

.table {
  width: 100%;
  background: lighten($cyan, 50%);

  th {
    color: white;
    background: $darkBlue;
    padding: 10px 15px;
    font-weight: 200;
    text-align: center;
  }

  td {
    padding: 10px 15px;
    text-align: center;
  }

  .currency {
    font-size: 10px;
  }
  .cost {
    text-align: right;
  }
}

.button {
  @extend .btn1;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 20px;
  display: inline-block;
  @media #{$isPhone}{
    margin: 0 auto;
    display: block;
  }
  &:hover, &:active, &:focus {
    background-color: lighten($darkBlue, 10%);
    color: white;
  }
}
.notes {
  margin: 30px 0;
  color: lighten($darkGray, 50%);
  font-size: 12px;
}
