@import '../../../theme/constants.scss';

.btn_reportar {
  background: #1b8ece;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;

  .subtitle {
    color: #fff471;
    display: block;
    font-size: 13px;
    font-weight: normal;

  }
}
