@import './helpers';
@import './mixins';
@import './sprite';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700');

$white: #fff;
$black: #000;
$darkBlue: #292e47;
$cyan: #1b8ece;
$yellow: #fff471;
$darkGray: #222222;
$gray: #f2f2f2;

$fontA: 'Open Sans', sans-serif;

$isLaptop: "only screen and (min-width: 1024px)";
$isTablet: "only screen and (min-width: 768px) and (max-width: 1024px)";
$isPhone: "only screen and (max-width: 767px)";

$color1: #343740; // dark gray
$color2: #1ebfdb; // blue
$color3: #666;

$sprites-icon-car-normal: '';

$size1: 15px;
$size2: 10px;
$size3: 22px;
