@import '../../../../../../theme/constants.scss';

.report {

  h2 {
    font-size: 20px;
    margin-top: 0px;
  }

  .headers {
    font-size: 13px;
  }

  .times {
    background-color: $gray;
    font-weight: bold;
    font-size: 22px;
  }

  .clookWrapper {
    background-color: $color2;
    width: 35px;
    position: absolute;
    left: 0;
    height: 30px
  }

  .clook {
    @extend .icon-general-sprite;
    @include sprite($general-sprite-garita-clock);
    margin-left: 8px;
    margin-top: 6px;
  }

  .car {
    @extend .icon-general-sprite;
    @include sprite($general-sprite-garita-car);
  }

  .carSentri {
    @extend .icon-general-sprite;
    @include sprite($general-sprite-garita-car-sentri);
  }

  .carReadyLane {
    @extend .icon-general-sprite;
    @include sprite($general-sprite-garita-car-ready-lane);
  }

  .pedestrian {
    @extend .icon-general-sprite;
    @include sprite($general-sprite-garita-person);
  }

  .pedestrianReadyLane {
    @extend .icon-general-sprite;
    @include sprite($general-sprite-garita-person-sentri);
  }


  .customHr {
    @media #{$isPhone}{
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }
}
