@import '../../../../../../theme/constants.scss';

.report {
  font-size: 26px;
  font-weight: bold;

  h2 {
    font-size: 18px;
    margin-top: 0px;
  }

  .br {
    min-height: 16px;
  }

  .hr {
    min-height: 2px;
    background: $gray;
    margin: 5px 0;
  }

  .icon {
    font-size: $size2;
    color: $color3;

    span {
      display: inline-block;
      padding-left: 2px;
    }
  }

  .port1 {
    color: $cyan;
    padding-left: 16px;
  }

  .port2 {
    margin-left: -8px;
  }

  .times {
    background-color: $gray;
    font-weight: bold;
    font-size: 22px;
  }

  .clookWrapper {
    background-color: $color2;
    width: 35px;
    position: absolute;
    left: 0;
    height: 30px
  }

  .clook {
    @extend .icon-general-sprite;
    @include sprite($general-sprite-garita-clock);
    margin-left: 8px;
    margin-top: 6px;
  }

  .car {
    @extend .icon-general-sprite;
    @include sprite($general-sprite-garita-car);
  }

  .carSentri {
    @extend .icon-general-sprite;
    @include sprite($general-sprite-garita-car-sentri);
  }

  .carReadyLane {
    @extend .icon-general-sprite;
    @include sprite($general-sprite-garita-car-ready-lane);
  }

  .pedestrian {
    @extend .icon-general-sprite;
    @include sprite($general-sprite-garita-person);
  }

  .pedestrianReadyLane {
    @extend .icon-general-sprite;
    @include sprite($general-sprite-garita-person-sentri);
  }
}
