@import '../../../../../theme/constants.scss';

.report {
  color: $gray;
  font-size: 12px;
}

.subtitle {
  color: $darkBlue;
  font-size: 22px;
  margin-top: 12px;
}

.carNormal {
  @extend .icon-sprites;
  @include sprite($sprites-icon_car_normal);
}

.carSentri {
  @extend .icon-sprites;
  @include sprite($sprites-icon_car_sentri);
}

.carReadyLane {
  @extend .icon-sprites;
  @include sprite($sprites-icon_car_ready_lane);
}

.pedestrianNormal {
  @extend .icon-sprites;
  @include sprite($sprites-icon_pedestrian_normal);
}

.pedestrianSentri {
  @extend .icon-sprites;
  @include sprite($sprites-icon_pedestrian_sentri);
}

.clock {
  @extend .icon-sprites;
  @include sprite($sprites-icon_clock);
}

.door {
  @extend .icon-sprites;
  @include sprite($sprites-icon_door);
}

.times {
  color: $black;
  font-size: 22px;
  font-weight: bold;
  background: $lightGray;
}
