@import '../../../theme/constants.scss';
@import '../../../theme/buttons/buttons.scss';

.report {
  text-align: center;
  padding: 15px 0;
}

.reportHeader {
  background: $darkBlue;
  color: $white;
  padding: 12px 50px 12px 10px;
  margin-bottom: 14px;
  min-height: 46px;
}

.btn_report {
  @extend .btn1;
  background: $cyan;

  .subtitle {
    color: $white;
    display: block;
    font-size: 13px;
    font-weight: bold;
    opacity: .8;
  }
}

.heading2 {
  color: $white;
  font-size: 18px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 15px;
  margin-top: 0;
}

.heading3 {
  color: $darkBlue;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 0;
}

.btn_option {
  @extend .btn1;
  background: #fff;
  color: $darkBlue;
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;

  svg {
    display: block;
    margin: 0 auto;
  }

  &:hover {
    color: $darkBlue;
  }
}

.btn_publish {
  @extend .btn_option;
  display: inline-block;
  font-size: 28px;
  width: auto;
}

.btn_entry {
  @extend .btn_option;
  font-size: 14px;
  padding: 8px 0;
  display: block;
}

.prevStep {
  color: $darkBlue;
  position: relative;
  display: block;
  font-size: 18px;
  text-align: left;
  padding: 15px;
  position: absolute;
  cursor: pointer;

  &::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid $darkBlue;
    position: absolute;
    left: 0;

    @extend .vCenter;
  }
}

.triangleRight {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid $white;
}

.closeButton {
  color: $cyan;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  padding: 0 10px;
}

.tweet {
  text-align: left;
  border-top: 1px solid $gray;
  padding: 15px 0;

  .time {
    color: $cyan;
  }
}

.tweetFirst {
  @extend .tweet;
  border-top: none
}
